<div class="full">
  <!– pantalla de resultados de la calculadora —>
  <div class="calculator">
    <input type="text" class="pantalla-calculadora" [value]="beforeOperation" disabled />
    <input type="text" class="pantalla-calculadora" [value]="current" disabled /> 
  </div>
  <!– container de botones para calculadora —>
  <div class="container">
    <b>
      <h1>
        <input type="button"  (click)="clear()"  value="C" style="width: 74%;color:#cc370b;">
        <input type="button"  (click)='operations("/")' value="/" style="width: 24%;">
      </h1>
      <h1>
        <input type="button"   (click)='numbers("1")' value="1">
        <input type="button"   (click)='numbers("2")' value="2">
        <input type="button"   (click)='numbers("3")' value="3">
        <input type="button"   (click)='operations("+")' value="+">
      </h1>
      <h1>
        <input type="button"   (click)='numbers("4")' value="4">
        <input type="button"   (click)='numbers("5")' value="5">
        <input type="button"   (click)='numbers("6")' value="6">
        <input type="button"   (click)='operations("-")' value="-">
      </h1>
      <h1>
        <input type="button"   (click)='numbers("7")' value="7">
        <input type="button"   (click)='numbers("8")' value="8">
        <input type="button"   (click)='numbers("9")' value="9">
        <input type="button"   (click)='operations("*")' value="*">
      </h1>
      <h1>
        <input type="button"   (click)='numbers("0")' value="0" style="width: 49%;">
        <input type="button"   (click)='decimal()' value=".">
        <input type="button"   (click)='operations("=")' class="igual" value="=">        
      </h1>
    </b>
  </div>
</div>